@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome</h1>
        <br/>
        <p>Check out your dashboard!</p>
        <a asp-controller="Motions" class="btn btn-lg btn-primary">Dashboard</a>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }


</div>
